extends layout

block content
  if homePage && user
    h3 Post a Pin
    form.form-horizontal(action="/add",method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label(class='col-sm-2 control-label', for='url') URL
        .col-sm-8
          input.form-control(type='text', name='url', id='url', autofocus=true)
      .form-group
        label(class='col-sm-2 control-label', for='description') Description
        .col-sm-8
          input.form-control(type='text', name='description', id='description')
      .form-group
        .col-sm-offset-2.col-sm-8
          button.btn.btn-primary(type='submit')
            i.fa.fa-envelope
            | Post
  .grid-container          
    #grid(data-columns)
      each pin in pins
        .panel.panel-default
          .panel-body
            img.img-responsive.img-center(src=pin.url, alt=pin.description)
            p=pin.description
            div
              a(href=`/pins/${pin.owner._id}`)
                img.profile-img(src=pin.owner.profile.picture)
              if (!homePage && user && pin.owner._id == user.id)
                form.form-inline-right(action="/delete",method="POST")
                  input(type='hidden', name='_csrf', value=_csrf)
                  input(type='hidden', name='id', value=pin._id)
                  button.btn.btn-xs.btn-danger(type='submit') 
                    i.fa.fa-trash.fa-nm